/* Default styles */

body {
    background-color: #CCB647;
  }

.tabs {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 20px;
  }
  
  .tab {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #C70039;
    border-radius: 50%;
    cursor: pointer;
    color: #f2f2f2;
  }

  .logo {
    margin: 0 20px;
  }
  
  .tab:hover {
    background-color: #e0e0e0;
  }
  
  .content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .tabs {
      flex-wrap: wrap;
      
    }
  
    .tab {
      flex-basis: 50%;
      margin-bottom: 10px;
    }

    
  }
  
  @media screen and (max-width: 400px) {
    .tab {
      flex-basis: 100%;
    }

  }